{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Fotogalerie
{% endblock %}

{% block title %}
  Fotogalerie
{% endblock %}

{% block heroImageUrl %}
  {{ data.hero_image.path }}
{% endblock %}

{% block content %}
  <div class="portfolio">
    <div class="portfolio-content">
      <div class="tabs">
        {% for block in data.content.blocks %}
          <input type="radio"
            name="tabs"
            id="tab{{ loop.index }}"
            checked="checked" />
          <label for="tab{{ loop.index }}">
            {% if block.data.label %}
              {{ block.data.label }}
            {% else %}
              Žádný popisek
            {% endif %}
          </label>
          <div class="tab gallery-photoswipe portfolio-gallery">
            {% for file in block.data.fileIds %}
              {% set fullImage = image(file.id, 1240) %}
              {% set thumbnail = image(file.id, 400, null, 60) %}
              <a href="{{ fullImage.src }}"
                class="gallery-item"
                data-pswp-width="{{ fullImage.width }}"
                data-pswp-height="{{ fullImage.height }}">
                <img src="{{ thumbnail.src }}"
                  width="{{ thumbnail.width }}"
                  alt="{{ file.title }}" />
                <div class="d-none hidden-caption-content">
                  {% if file.title %}
                    <p class="heading">
                      {{ file.title }}
                    </p>
                  {% endif %}
                  {% if file.description %}
                    <p class="description">
                      {{ file.description }}
                    </p>
                  {% endif %}
                </div>
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
