{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  Fotogalerie
{% endblock %}

{% block title %}
  Fotogalerie
{% endblock %}

{% block content %}
  <div class="portfolio">
    <div class="portfolio-content">
      <div class="tabs">
        {% for block in data.content.blocks %}
          <input type="radio"
            name="tabs"
            id="tab{{ loop.index }}"
            checked="checked" />
          <label for="tab{{ loop.index }}">
            {% if block.data.label %}
              {{ block.data.label }}
            {% else %}
              Žádný popisek
            {% endif %}
          </label>
          <div class="tab">
            {% for fileId in block.data.fileIds %}
              <div class="gallery-item col-12 col-lg-4 col-md-4 col-sm">
                <img src="/api/entry-types/files/items/{{ fileId }}/raw"
                  data-original="/api/entry-types/files/items/{{ fileId }}/raw"
                  class="zooming"
                  alt=""
                  style="cursor: zoom-in;" />
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
