{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  {{ data.seoTitle }}
{% endblock %}

{% block title %}
  Komplexní služby <br />
  v lesním hospodářství
{% endblock %}

{% block description %}
  {{ data.description }}
{% endblock %}

{% block content %}
  <div class="why" id="why">
    <div class="why-content">
      {% for blocks in data.cols %}
        <div class="why-box col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          {% for block in blocks %}
            {% if block.type == 'header' %}
              <h2>
                {{ block.data.text }}
              </h2>
            {% elseif block.type == 'paragraph' %}
              <p>
                {{ block.data.text }}
              </p>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="about">
    <div class="about-content" id="services">
      <div class="about-text col-12 col-lg-4 col-md-12 col-sm-12 col-xl-4 col-xxl-4">
        <h2>
          {{ data.services.title }}
        </h2>
        <p>
          {{ data.services.description }}
        </p>
        <a href="kontakt"><button class="btn">Kontaktujte nás</button></a>
      </div>
      <div class="about-boxes col-12 col-lg-8 col-md-12 col-sm-12 col-xl-8 col-xxl-8">
        {% for service in services %}
          <div class="about-box col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
            <a href="sluzby/{{ service.title }}">
              <span class="number">{{ loop.index }}</span>
              <h2>
                {{ service.title }}
              </h2>
              {% if service.excerpt %}
                <p>
                  {{ service.excerpt }}
                </p>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="blog-main">
    <div class="blog-main-content">
      <div class="blog-main-image col-lg-5 col-xl-5 col-xxl-5">
        <img src="assets/images/blog-main.jpg" />
      </div>
      <div class="blog-main-inner col-12 col-lg-7 col-md-12 col-sm-12 col-xl-7 col-xxl-7">
        <h2>
          Aktuálně se děje ..
        </h2>
        {% for post in data.posts %}
          <a href="/blog/{{ post.id }}">
            <div class="blog-main-box">
              <span class="date-main">
                {{ post.created_at|date('d.m. Y') }}
              </span>
              <h3>
                {{ post.title }}
              </h3>
              <button class="btn">
                {% include 'components/ArrowRight.twig' %}
              </button>
            </div>
          </a>
        {% endfor %}
        <a href="blog"><button class="btn light">Všechny články</button></a>
      </div>
    </div>
  </div>
  <div class="work-main">
    <div class="work-main-content">
      <div class="col-12 col-lg-7 col-md-12 col-sm-12 col-xl-7 col-xxl-7 work-main-inner">
        <h2>
          <small>S námi můžete růst</small>na těchto pozicích
        </h2>
        {% for opportunity in data.opportunities %}
          <a href="kariera#w{{ opportunity.id }}">
            <div class="work-main-box">
              <h3>
                {{ opportunity.title }}
              </h3>
              <button class="btn">
                {% include 'components/ArrowRight.twig' %}
              </button>
            </div>
          </a>
        {% endfor %}
        <a href="kariera">
          <button class="btn">Všechny pracovní pozice</button>
        </a>
      </div>
      <div class="work-main-image col-lg-5 col-xl-5 col-xxl-5">
        <img src="assets/images/work-main.jpg" />
      </div>
    </div>
  </div>
{% endblock %}
