{% extends 'layouts/site-layout.twig' %}

{% block seoTitle %}
  {{ data.seoTitle }}
{% endblock %}

{% block title %}
  {{ data.title|raw }}
{% endblock %}

{% block description %}
  {{ data.description|raw }}
{% endblock %}

{% block content %}
  <div class="why" id="why">
    <div class="why-content">
      {% for col in data.cols %}
        <div class="why-box col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
          {% for block in col %}
            {% if loop.index is same as(1) %}
              <h2>
                {{ block.value|raw }}
              </h2>
            {% else %}
              <p>
                {{ block.value|raw }}
              </p>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="about">
    <div class="about-content" id="services">
      <div class="about-text col-12 col-lg-4 col-md-12 col-sm-12 col-xl-4 col-xxl-4">
        {{ data.about.content|raw }}
      </div>
      <div class="about-boxes col-12 col-lg-8 col-md-12 col-sm-12 col-xl-8 col-xxl-8">
        {% for service in services %}
          <div class="about-box col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 col-xxl-4">
            <a href="{{ language }}/sluzby/{{ service.slug }}">
              <span class="number">{{ loop.index }}</span>
              <h2>
                {{ service.title }}
              </h2>
              {% if service.excerpt %}
                <p>
                  {{ service.excerpt|raw }}
                </p>
              {% endif %}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="blog-main">
    <div class="blog-main-content">
      <div class="blog-main-image col-lg-5 col-xl-5 col-xxl-5">
        {% set image = image(data.blog_list.image, 516) %}
        <img src="{{ image.src }}"
          width="{{ image.width }}"
          alt="{{ image.title }}" />
      </div>
      <div class="blog-main-inner col-12 col-lg-7 col-md-12 col-sm-12 col-xl-7 col-xxl-7">
        {{ data.blog_list.before|raw }}
        {% for post in data.posts %}
          <a href="{{ language }}/blog/{{ post.slug }}">
            <div class="blog-main-box">
              <span class="date-main">
                {{ post.created_at|date('d.m. Y') }}
              </span>
              <h3>
                {{ post.title }}
              </h3>
              <button class="btn">
                {% include 'components/ArrowRight.twig' %}
              </button>
            </div>
          </a>
        {% endfor %}
        {{ data.blog_list.after|raw }}
      </div>
    </div>
  </div>
  <div class="work-main">
    <div class="work-main-content">
      <div class="col-12 col-lg-7 col-md-12 col-sm-12 col-xl-7 col-xxl-7 work-main-inner">
        {{ data.positions.before|raw }}
        {% for opportunity in data.opportunities %}
          <a href="{{ language }}/kariera#w{{ opportunity.id }}">
            <div class="work-main-box">
              <h3>
                {{ opportunity.title }}
              </h3>
              <button class="btn">
                {% include 'components/ArrowRight.twig' %}
              </button>
            </div>
          </a>
        {% endfor %}
        {{ data.positions.after|raw }}
      </div>
      <div class="work-main-image col-lg-5 col-xl-5 col-xxl-5">
        {% set image = image(data.positions.image, 516) %}
        <img src="{{ image.src }}"
          width="{{ image.width }}"
          alt="{{ image.title }}" />
      </div>
    </div>
  </div>
{% endblock %}
