{% extends '@modules:katr/layouts/site-layout.twig' %}

{% block seoTitle %}
  {{translations["Kontakt"]|default("Kontakt")}}
{% endblock %}

{% block title %}
  {{translations["Kontakt"]|default("Kontakt")}}
{% endblock %}

{% block heroImageUrl %}
  {% if data.settings.hero_image %}
    {% set heroImage = image(data.settings.hero_image, 1320) %}
    {{ heroImage.src }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="contact">
    <div class="contact-content">
      {% if (data.emailSent) %}
        {% if (data.emailSuccess) %}
          <div class="mt-n5 mb-5 alert alert-success" role="alert">
            {{ data.settings.message_success }}
          </div>
        {% else %}
          <div class="mt-n5 mb-5 alert alert-danger" role="alert">
            {{ data.settings.message_error }}
          </div>
        {% endif %}
      {% endif %}
      <div class="tabs">
        {% for group in data.contactGroups %}
          <input type="radio" name="tabs" id="tab{{ loop.index }}" {% if loop.index is same as(1) %} checked="checked" {% endif %} />
          <label for="tab{{ loop.index }}">{{ group.label }}</label>
          <div class="tab">
            {% for contact in group.contacts %}
              <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xl-3 col-xxl-3 contact-box-around">
                <div class="contact-box">
                  <h3>
                    {{ contact.position }}
                  </h3>
                  <ul>
                    <li class="name">{{ contact.name }}</li>
                      {% if (contact.first_telephone) %}
                    <li>
                        <a href="tel:{{ contact.first_telephone|replace({' ': ''}) }}">
                          {{ contact.first_telephone }}
                        </a>
                        </li>
                      {% endif %}
                      {% if (contact.second_telephone) %}
                      <li>
                        <a href="tel:{{ contact.second_telephone|replace({' ': ''}) }}">
                          {{ contact.second_telephone }}
                        </a></li>
                      {% endif %}
                      {% if (contact.email) %}
                      <li>
                        <a href="mailto:{{ contact.email|replace({' ': ''}) }}">
                          {{ contact.email }}
                        </a></li>
                      {% endif %}
                  </ul>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
     {% set languageWithFallback = language ? language : defaultLanguage %}
     {% set customTranslations = form.text[languageWithFallback] %}
    <div class="form-content">
      <form role="form" method="POST">
        <h2>
          {{ customTranslations.title }}
        </h2>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6 input-around left">
          <label for="name">{{ customTranslations.name }} *</label>
          <input required type="text"
            class="form-control"
            id="name"
            name="name"
            autocomplete="name"
            placeholder="{{ customTranslations.name }}"
            aria-describedby="name" />
          <label for="email">E-mail *</label>
          <input required type="email"
            autocomplete="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="E-mail"
            aria-describedby="email" />
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-12 col-xl-6 col-xxl-6 input-around right">
          <label for="message" class="form-label">{{ customTranslations.message }}  *</label>
          <textarea required class="form-control" name="message" id="message" rows="6" ></textarea>
        </div>
        <div class="col-12">
          <div class="h-captcha" data-sitekey="c9efc57f-acc2-46a0-a19d-53e4b684e8ce"></div>
        </div>
        {% if (data.captchafail) %}
          <div class="col-12 mb-3 alert alert-danger" role="alert">
            {{ customTranslations.captchafail }}
          </div>
        {% endif %}
        <button type="submit" class="btn">{{ customTranslations.send }}</button>
      </form>
    </div>
  </div>
{% endblock %}
