<footer>
  <div class="footer-content">
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>
        {{ footer.contacts.label }}
      </h3>
      <ul>
        {% for item in footer.contacts.content.data %}
          <li>{{ item.value|raw }}</li>
        {% endfor %}
      </ul>
      <hr />
      <h3>
        {{ footer.fakturace.label }}
      </h3>
      <ul>
        {% for item in footer.fakturace.content.data %}
          <li>{{ item.value|raw }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>
        {{ footer.address.label }}
      </h3>
      <ul>
        {% for item in footer.address.content.data %}
          <li>{{ item.value|raw }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>
        {{ footer.hot_list.label }}
      </h3>
      <ul>
        {% for item in footer.hot_list.content.data %}
          <li>{{ item.value|raw }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-12 col-lg-3 col-md-6 col-sm-6 col-xl-3 col-xxl-3 footer-box">
      <h3>
        {{ footer.docs.label }}
      </h3>
      <ul>
        {% for item in footer.docs.content.data %}
          <li>{{ item.value|raw }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>
